body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.height-full {
    height: 100vh;
}

.mobile-display {
    width: 100%;
    display: flex;
    gap: 25px;
}

.width-half {
    width: 50%;
}
.width-half2 {
    width: 50%;
}

.flex-d {
    display: flex;
    padding-left: 48px;
    padding-right: 48px;
}
.user-display {
    display: flex;
    justify-content: end;    
}
.user-display2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
}
.user-display3 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}







.img-bg {
    background-image: linear-gradient(#03013b, #03013b);
}


.height-without-btn {
    height: 70vh;
}

.input-bg {
    background-color: #EAECFF;
    padding: 18px 22px;
    border-radius: 10px;
}

.tab-btn {
    background-color: #0500FF;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
}

.tab-btn2 {
    background-color: #fff;
    color: #0500FF;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #0500FF;
}

.hide-coma {
    display: none;
}

.img-area {
    height: 229px;
    width: 462px;
    border: 2px dashed #CDCDCD;
    background-color: #EEE;
    border-radius: 5px;
}

.modal-header {
    border-bottom: 0 !important;
    margin-bottom: -36px;
}

.mobile-display {
    display: flex;
}




/* for mobile device */
@media (max-width: 767px) {

    /* Styles specific to small devices go here */
    .mobile-display {
        display: block;
        margin-bottom: 60px;
    }

    .width-half {
        width: 100%;
        margin-top: 60px;
    }
    .width-half2 {
        width: 100%;
        margin-top: 30px;
    }

    .flex-d {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
    }
    .user-display2 {
        width: 70%;
        margin-top: 160px;
    }
    .user-display3 {
        width: 100%;
        margin-top: 50px;
    }
    .img-area {
        width: 300px;
    }
}